body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.orange-color {
  color: orange;
}
.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 2%;
}
.half-width img {
  width: 85%;
}
.link-btn {
  text-decoration: none;
  background-image: linear-gradient(tomato, #f9775f);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.top-banner {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.half-width p {
  padding-right: 10%;
  color: dimgrey;
}
.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.experience-item {
  width: 45%;
  margin: 0 3%;
  padding: 25px 20px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 10px;
}
.experience-item p {
  color: dimgrey;
}
#ex-webdevloper {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#ex-designer {
  border-left: 7px solid;
  border-image: linear-gradient(#f88366, #ff3786);
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
